* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: #F2F2F2;
}

.content {
    background-color: white;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-top: 5px solid blue;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: space-evenly;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.error {
    color: red;
    margin: 10px 0;
}

#resultContainer {
    margin-top: 20px;
    text-align: left;
}
.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 40px; 
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.password-container .toggle-password:hover {
    color: #000;
}

